@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.comic-tile {
    color: white;
    height: auto;
    padding: 30px;
    border: 1px solid black;
    background-color: white;
}

.comic-tile:hover {
    opacity: 50%;
}

h4 {
    font-family: 'Comic Neue', cursive;
    font-weight: 800;
    background-color: black;
    border-radius: 1vmin;
}

img {
    width: 30vmin;
    height: auto;
}