.grid {
    display: grid;
    padding: 0 10% 0 10%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

li {
    border: 1px solid black;
    margin: 0 0.5vmin 0.5vmin 0;
    width: 100px;
    height: 25px;
    background-color: white;
}

li:hover {
    opacity: 50%;
    cursor: pointer;
}

nav {
    margin-top: 10px;
}