@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.title {
    margin: 0;
    padding: 2%;
    font-family: 'Marvel', sans-serif;
    font-size: 6vmin;
    background-color: red;
    color: white;
    border-bottom: 1px solid black;
}