body {
    background-image: url("T72.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50%;
  padding: 5px;
  margin: 0;
  border: 1px solid black;
  border-radius: 12px;
}

input {
    width: 100%;
    padding: 5px 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'badaboom';
    src: url('/src/components/NavBar/badaboom_bb/BADABB__.TTF');
}

h1, h2, label {
    font-family: 'badaboom';
    font-size: x-large;
    text-decoration: none;
    color: rgb(238, 250, 8);

}